<%= form_with(model: apartamento, local: true) do |form| %>
  <% if apartamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartamento.errors.count, "error") %> prohibited this apartamento from being saved:</h2>

      <ul>
      <% apartamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tamanho %>
    <%= form.number_field :tamanho %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :camas %>
    <%= form.number_field :camas %>
  </div>

  <div class="field">
    <%= form.label :banheiros %>
    <%= form.number_field :banheiros %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
