<p id="notice"><%= notice %></p>

<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-portfolio-item/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-portfolio-item/css/portfolio-item.css" rel="stylesheet">

  </head>


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if cliente_signed_in?  %>

      <%= link_to('Logout', destroy_cliente_session_path, method: :delete) %>

      <%elsif empresa_signed_in?%>

      <%= link_to('Logout', destroy_empresa_session_path, method: :delete) %>

      <%else%>
        <%= link_to "Log in", logins_path  %>
  <% end %>



        </li>
        <li class="nav-item">
          <% if cliente_signed_in?  %>
          <%elsif empresa_signed_in?%>
          <%else%>
          <%= link_to "Cadastros", cadastros_path  %>
            <% end %>

        </li>

      </ul>
    </div>
  </div>
</nav>
<ul>

<center><h1>Apartamentos</h1><center/>

<table>
  <thead>
    <tr>
      <th>Tamanho</th>
      <th>Categoria</th>
      <th>Camas</th>
      <th>Banheiros</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartamentos.each do |apartamento| %>
      <tr>
        <td><%= apartamento.tamanho %></td>
        <td><%= apartamento.categoria %></td>
        <td><%= apartamento.camas %></td>
        <td><%= apartamento.banheiros %></td>
        <td><%= link_to 'Informações', apartamento %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><font size= "+2"><center>
<% if empresa_signed_in? %>
<%= link_to 'Novo Apartamento', new_apartamento_path %>
<% end %>
<%= link_to 'Voltar', main_index_url %>
<font/><center/>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<%= link_to '.', new_hotel_path %>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright © Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
<br>
