<p id="notice"><%= notice %></p>

<p>
  <strong>Tamanho:</strong>
  <%= @apartamento.tamanho %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @apartamento.categoria %>
</p>

<p>
  <strong>Camas:</strong>
  <%= @apartamento.camas %>
</p>

<p>
  <strong>Banheiros:</strong>
  <%= @apartamento.banheiros %>
</p>

<%= link_to 'Editar', edit_apartamento_path(@apartamento) %> |
<%= link_to 'Voltar', apartamentos_path %>
<%= link_to 'Apagar', @apartamento, method: :delete, data: { confirm: 'Tem certeza?' } %>