<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :estrelas %>
    <%= form.number_field :estrelas %>
  </div>

  <div class="field">
    <%= form.label :avaliacao %>
    <%= form.number_field :avaliacao %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local %>
  </div>

  <div class="field">
    <%= form.label :piscina %>
    <%= form.text_field :piscina %>
  </div>

  <div class="field">
    <%= form.label :cafe %>
    <%= form.text_field :cafe %>
  </div>

  <div class="field">
    <%= form.label :preço %>
    <%= form.number_field :preço %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
