<p id="notice"><%= notice %></p>

<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-portfolio-item/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-portfolio-item/css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">GORIAN</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if cliente_signed_in?  %>

          <%= link_to('Logout', destroy_cliente_session_path, method: :delete) %>

          <%elsif empresa_signed_in?%>

          <%= link_to('Logout', destroy_empresa_session_path, method: :delete) %>

          <%else%>
            <%= link_to "Log in", logins_path  %>
      <% end %>



            </li>
            <li class="nav-item">
              <% if cliente_signed_in?  %>
              <%elsif empresa_signed_in?%>
              <%else%>
              <%= link_to "Cadastros", cadastros_path  %>
                <% end %>

            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Hotel
        <small><%= @hotel.nome %></small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img src= "<%= @hotel.foto %>"</a>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Informações Hotel</h3>

          <ul>
          </body></html>

          <p>
            <strong>Nome:</strong>
            <%= @hotel.nome %>
          </p>

          <p>
            <strong>Estrelas:</strong>
            <%= @hotel.estrelas %>
          </p>

          <p>
            <strong>Avaliacao:</strong>
            <%= @hotel.avaliacao %>
          </p>

          <p>
            <strong>Local:</strong>
            <%= @hotel.local %>
          </p>

          <p>
            <strong>Piscina:</strong>
            <%= @hotel.piscina %>
          </p>

          <p>
            <strong>Cafe:</strong>
            <%= @hotel.cafe %>
          </p>

          <p>
            <strong>Preço:</strong>
            <%= @hotel.preço %>
          </p>

          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->

      <!-- /.row -->

    </div>
    <!-- /.container -->
    <% if empresa_signed_in? %>
    <%= link_to 'Editar', edit_hotel_path(@hotel) %>
    <%= link_to 'Back', main_index_url %>
    <%= link_to 'Apagar', @hotel, method: :delete, data: { confirm: 'Tem certeza?' } %>

    <% else %>
    <%= link_to 'Back', main_index_url %>
    <% end %>
    <%= link_to 'Apartamentos', apartamentos_path %>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
