
<ul>
    <li>




<br>

<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-portfolio-item/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-portfolio-item/css/portfolio-item.css" rel="stylesheet">

  </head>


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">GORIAN</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if cliente_signed_in?  %>

      <%= link_to('Logout', destroy_cliente_session_path, method: :delete) %>

      <%elsif empresa_signed_in?%>

      <%= link_to('Logout', destroy_empresa_session_path, method: :delete) %>

      <%else%>
        <%= link_to "Log in", logins_path  %>
  <% end %>



        </li>
        <li class="nav-item">
          <% if cliente_signed_in?  %>
          <%elsif empresa_signed_in?%>
          <%else%>
          <%= link_to "Cadastros", cadastros_path  %>
            <% end %>

        </li>

      </ul>
    </div>
  </div>
</nav>
<ul>
    <li>




<br>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <center> <font size= "+10000">  <%= link_to "Cadastrar Cliente", new_cliente_registration_path %>  </font>
    <font size= "+10000"><%= link_to "Cadastrar Empresa", new_empresa_registration_path %></font> </center>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <%= link_to ".", new_cliente_session_path %>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    </li>
</ul>




    </li>
</ul>













<%= link_to "Cadastrar Cliente", new_cliente_registration_path %>
<%= link_to "Cadastrar Empresa", new_empresa_registration_path %>
