
<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gorian - Hotel listing</title>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if cliente_signed_in?  %>

          <%= link_to('Logout', destroy_cliente_session_path, method: :delete) %>

          <%elsif empresa_signed_in?%>

          <%= link_to('Logout', destroy_empresa_session_path, method: :delete) %>

          <%else%>
            <%= link_to "Log in", logins_path  %>
      <% end %>



            </li>
            <li class="nav-item">
              <% if cliente_signed_in?  %>
              <%elsif empresa_signed_in?%>
              <%else%>
              <%= link_to "Cadastros", cadastros_path  %>
                <% end %>

            </li>

          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Gorian - Hotel listing</h1>




      <!-- Portfolio Section -->
      <h2>Hotéis</h2>
      <div class="row">
      <% @hotels.each do |hotel| %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img src= "<%= hotel.foto %>" width = "355px" height="200px"</a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#"><td><%= hotel.nome %></td></a>
              </h4>
              <p class="card-text"><td>
                <th>Estrelas</th>
              <th>Local</th>
              <th>Preço</th>
              <br />
              <td><%= hotel.estrelas %></td>
              <td><%= hotel.local %></td>
              <td><%= hotel.preço %></td>
              <td><%= link_to 'Informações', hotel %></td>

            </td></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <!-- /.row -->
      <% if empresa_signed_in? %>
      <center><font size= "+3"><%= link_to 'Novo Hotel', new_hotel_path %><font/><center/>
      <% end %>
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Equipe de Desenvolvimento</h2>
          <p>Alunos da FGA</p>
          <ul>
            <li>
              <strong>Amor</strong>
            </li>
            <li>Carinho</li>
            <li>Dedicação</li>
            <li>Abençoados com os melhores Monitores</li>
            <li>Renato é o Melhor Professor</li>
          </ul>
          <p>Professor, foi um enorme prazer construir esse projeto!!</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Webysther_20160322_-_Logo_UnB_%28sem_texto%29.svg/1280px-Webysther_20160322_-_Logo_UnB_%28sem_texto%29.svg.png700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
