<p id="notice"><%= notice %></p>

<h1>Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Estrelas</th>
      <th>Avaliacao</th>
      <th>Local</th>
      <th>Qtd camas</th>
      <th>Qnt banheiros</th>
      <th>Piscina</th>
      <th>Cafe</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.foto %></td>
        <td><%= hotel.nome %></td>
        <td><%= hotel.estrelas %></td>
        <td><%= hotel.avaliacao %></td>
        <td><%= hotel.local %></td>
        <td><%= hotel.qtd_camas %></td>
        <td><%= hotel.qnt_banheiros %></td>
        <td><%= hotel.piscina %></td>
        <td><%= hotel.cafe %></td>
        <td><%= hotel.preço %></td>
        <td><%= link_to 'Informações', hotel_empresa %></td>
        <td><%= link_to 'Editar', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Apagar', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Hotel', new_hotel_path %>
<%= link_to 'Voltar', main_index_url %>
