<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @hotel.foto %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @hotel.nome %>
</p>

<p>
  <strong>Estrelas:</strong>
  <%= @hotel.estrelas %>
</p>

<p>
  <strong>Avaliacao:</strong>
  <%= @hotel.avaliacao %>
</p>

<p>
  <strong>Local:</strong>
  <%= @hotel.local %>
</p>

<p>
  <strong>Qtd camas:</strong>
  <%= @hotel.qtd_camas %>
</p>

<p>
  <strong>Qnt banheiros:</strong>
  <%= @hotel.qnt_banheiros %>
</p>

<p>
  <strong>Piscina:</strong>
  <%= @hotel.piscina %>
</p>

<p>
  <strong>Cafe:</strong>
  <%= @hotel.cafe %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @hotel.preço %>
</p>
<% if empresa_signed_in? %>
<%= link_to 'Editar', edit_hotel_path(@hotel) %>
<%= link_to 'Back', hotels_path %>
<% else %>
<%= link_to 'Back', hotels_path %>
<% end %>
